* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.center{
  text-align: center;
}
.baslik-font{
  font-family: 'Parisienne', cursive;
}
img{
  background-size: contain;
}