#map {
  width: 290px;
  margin: 0 auto;
}
/*Navbar*/ /*Navbar*/ /*Navbar*/
.nav-item {
  border-bottom: #212529 1px solid;
}

.nav-item:hover {
  border-bottom: #212529 1px solid;
}

/*carousel*/ /*carousel*/ /*carousel*/
.yuk {
  height: 400px;
}
/*carousel*/ /*carousel*/ /*carousel*/

/*carouselın altındakı kısım */
#button1 {
  box-shadow: 10px 10px 10px #212529;
}
img {
  height: 8rem;
  width: 8rem;
}
.icerik-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  /* background-color: red; */
}
.baslik {
  margin-top: 2rem;
}
.text-uzun {
  text-align: left;
}
/*carouselın altındakı kısım */

/*odalarımız*/
.card {
  width: 80%;
}
.container-oda {
  background-color: #212529;
  /* padding-bottom: 3rem; */
  /* padding-top: 0.80rem; */
}
.img-div img {
  width: 270px;
  height: 270px;
  border-radius: 5%;
}
#button2 {
  text-decoration: none;
  background-color: #212529;
  color: white;
  padding: 0.75rem;
  border: 1px solid #212529;
  box-shadow: 5px 5px 10px #212529;
}
#button2:hover {
  text-decoration: none;
  background-color: white;
  color: #212529;
  padding: 0.75rem;
  transition-duration: 0.3s;
  border: 1px solid #212529;
}
/*odalarımız*/

/* metin k.ısmı */
.icerik3 {
  font-size: 16px;
}
/* metin kısmı */
